header{
    position:relative;
    background:rgb(207, 120, 120);
    padding:0;
    border-bottom:1px solid white;
    
}
a{
    text-decoration: none;
    font-size:xx-large;
    background: rgb(156, 48, 40);
    color:rgb(235, 204, 149);
    
}
a:hover{
    background: rgb(223, 52, 52);
    color:rgb(235, 149, 149);
    cursor: pointer;
}
.container{
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    min-width: 800px;
}
a.logo{
    font-weight: bold;
    padding: 1em;
}
ul{
    display: flex;
    list-style-type: none;
    margin:0;
}
ul a{
    padding: 1rem;
    display:inline-block;
}
a span{
    background: rgb(235, 204, 149);
    color:rgb(156, 48, 40);
    padding:0.1rem 0.45;
    border-radius: 100rem;
    font-size: 1.5rem;
}
nav ul{
    list-style-type: none;
    margin:0;
}
nav ul li a {
    padding: 1em;
    display:inline-block;
}
.menu-container{
    position:relative;
}
.menu{
    position: absolute;
    z-index:1;
    background:rgb(235, 204, 149);
    display:none;
}
.menu-container:hover .menu{
    display:block;
}
.menu a{
    width:100%;
    min-width: 10rem;
}