header{
    background:rgb(207, 120, 120);
    padding:0;
    border-bottom:1px solid white
}
a{
    text-decoration: none;
    font-size:xx-large;
    background: rgb(156, 48, 40);
    color:rgb(235, 204, 149)
    
}
a:hover{
    background: brown;
    color:rgb(235, 149, 149)
    
}
.container{
    margin:0 auto;
    display:flex;
    justify-content: space-between;
}
a.logo{
    font-weight: bold;
    padding: 1em;
}
nav ul{
    list-style-type: none;
    margin:0;
}
nav ul li a {
    padding: 1em;
    display:inline-block;
}