<div class="container">
    <div class="content">
        <h1> Order Form</h1>
        <form [formGroup]="checkoutForm">
            <text-input [control]="fc['name']" label="Name"></text-input>
            <text-input [control]="fc['address']" label="Address"></text-input>
        </form>
        <order-items-list [order]="order"></order-items-list>
    </div>
    <div class="map" >
        <h1>Choose your Address on Map</h1>
        <!-- Map component -->
        <app-map [order]="order"></app-map>
    </div>
    <div class="button-contaner">
        <div class="buttons">
            <button (click)="createOrder()">
            Go to Payment
            </button>
        </div>
    </div>
</div>