<app-search></app-search>
<app-tags></app-tags>
<not-found [visible]="!pizzes || pizzes.length <=0" resetLinkText="Reset Search"></not-found>
<ul>
    <li *ngFor='let pizza of pizzes'>
        <a routerLink="/pizza/{{pizza.id}}">
            <img src="{{pizza.imageUrl}}" alt="" class="Image">
            <div class="content">
                <div class="name">
                    {{pizza.name}}
                </div>
                <span class="favorite {{pizza.favorite?'':'not'}}" > 
                    <!-- (click)="status=!status" [ngClass]="status ? 'favorite' : ''" -->
                ❤
                </span>
                <div class="stars">
                    <star-rating [stars]="pizza.stars"></star-rating>
                </div>
                <!-- <star-rating value="5" totalstars="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="false" (rate)="onRate($event)"></star-rating> -->
                <div class="product-item-footer">
                    <div class="origins">
                        <span *ngFor="let origin of pizza.origins">
                            {{origin}}
                        </span>
                    </div>
                    <div class="cook-time">
                        <span>⏳</span>
                        {{pizza.cookTime}}
                    </div>
                </div>
                <div class="price">
                    <span>
                        {{pizza.price|currency}}
                    </span>
                </div>
            </div>
        </a>
    </li>
</ul>
